body {
    font-family: Arial;
    background: #f2f2f2;
}
.container {
    width: 90%;
    max-width: 400px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}
input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}
button {
    background: #007bff;
    color: white;
    border: none;
    color: #fff;
}
